@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  background: rgb(183, 234, 234);
  background: linear-gradient(
    180deg,
    rgba(183, 234, 234, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-repeat: no-repeat;
}

/*-------- HAMBURGER ---------*/

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#checkbox-menu {
  position: absolute;
  opacity: 0;
}

label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

label span {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background: #ff6b6b;
  transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
  top: 0;
}

label span:nth-child(2) {
  top: 8px;
}

label span:nth-child(3) {
  top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}

/*-------- NAVBAR ---------*/

.full-header {
  width: 100%;
}

nav {
  display: flex;
  height: 80px;
  width: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

nav img {
  width: 320px;
  height: 100px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: #305052;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #ff6b6b;
}

nav .menu-btn i {
  color: #305052;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

/*-------- MEDIA QUERYS MOBILE ---------*/

@media (max-width: 1000px) {
  nav {
    padding: 0;
  }
}

@media (max-width: 920px) {

    /*? NAVBAR */
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }

  nav img {
    width: 320px;
    height: auto;
  }

  nav ul {
    position: fixed;
    top: 100px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked ~ ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    color: #e7fcfd;
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked ~ ul li a {
    margin-left: 0px;
  }

  nav ul li a:hover {
    background: none;
    color: #ff6b6b;
  }

  /********? INTRO ***********/
  .container {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  #header img {
      width: auto;
      height: 150px;
  }

  .title h1 {
      margin-top: 50px;
      color: #b92929;
      font-size: 1.8rem;
      text-align: center;
  }

  .title a {
      text-decoration: none;
      font-size: 0.8rem;
      float: right;
      margin-top: 10px;
      margin-right: 30px;
      color: #305052;
  }

}
